/* +-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-+*/
/* | 1. Small Displays | Footer Styles (Default)                                                                             |*/
/* +-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-+*/

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 0;
    margin-top: auto;

    background-color: var(--backgroud-opacity-color-rgba);
}

.footer__info {
    margin: 0;

    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 0.55rem;
    
    color: var(--secondary-color);
}

.footer__info:hover {
    color: var(--primary-color);
}


/* +-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-+*/
/* | 2. Medium Displays | Footer Styles                                                                                      |*/
/* +-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-+*/

@media (min-width: 576px) and (max-width: 768px) { 
    .footer {
        padding: 12px 0;
    }

    .footer__info {
        font-size: 0.65rem;
    }
}


/* +-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-+*/
/* | 3. Large Displays | Footer Styles                                                                                       |*/
/* +-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-+*/

@media (min-width: 768px) and (max-width: 1024px) { 
    .footer {
        padding: 14px 0;
    }

    .footer__info {
        font-size: 0.75rem;
    }
}


/* +-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-+*/
/* | 4. Extra Large | Footer Styles                                                                                          |*/
/* +-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-+*/

@media (min-width: 1024px) { 
    .footer {
        padding: 16px 0;
    }

    .footer__info {
        font-size: 0.85rem;
    }
}
