/* +-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-+*/
/* | 1. Small Displays | Header Styles (Default)                                                                             |*/
/* +-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-+*/

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
    height: 8vh;
    
    background-color: var(--backgroud-opacity-color-rgba);
}

.header__name {
    margin-left: 4%;

    font-family: var(--custom-header-font);
    font-weight: 800;
    font-size: 2rem;

    color: var(--secondary-color);
}

.header__menu {
    display: flex;
    flex-direction: row;

    margin-right: 4%;
    gap: 24px;
}

.header__menu__item {
    position: relative;

    font-family: var(--primary-font);
    font-size: 1.6rem;
    font-weight: 600;

    color: var(--secondary-color);
}

.header__menu__item.active::after {
    content: '';
    position: absolute;

    left: 0; 
    bottom: -4px; 
    
    height: 2px;
    width: 36px;

    background: var(--primary-color); 
    border-radius: 2px;
    animation: fadeInOut 5s infinite ease-in-out;
}

.header__menu__item:hover {
    color: var(--primary-color);
    text-decoration: none;
}

/* +-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-+*/
/* | 2. Medium Displays | Header Styles                                                                                      |*/
/* +-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-+*/

@media (min-width: 576px) and (max-width: 768px) { 
    .header {
        padding: 6% 0 6% 4%; 
    }

    .header__menu {
        display: flex;
        flex-direction: row;

        gap: 24px;
    }

    .header__menu__item {
        font-size: 1.2rem;
    }
}


/* +-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-+*/
/* | 3. Large Displays | Header Styles                                                                                       |*/
/* +-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-+*/

@media (min-width: 768px) and (max-width: 1024px) { 
    .header {
        padding: 4% 0 4% 6%; 
    }

    .header__menu {
        display: flex;
        flex-direction: row;

        gap: 36px;
    }

    .header__menu__item {
        font-size: 1.4rem;
    }
}


/* +-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-+*/
/* | 4. Extra Large | Header Styles                                                                                          |*/
/* +-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-+*/

@media (min-width: 1024px) { 
    .header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        width: 100%;
        padding: 24px 0;
    }

    .header__name {
        margin-left: 4%;
    
        font-weight: 400;
        font-size: 2rem;
    }

    .header__menu {
        display: flex;
        flex-direction: row;
    
        margin-right: 4%;
        gap: 24px;
    }

    .header__menu__item {
        font-size: 1.6rem;
        font-weight: 600;
    }

    .header__menu__item.active::after {
        content: '';
        position: absolute;
    
        left: 0; 
        bottom: -4px; 
        
        height: 2px;
        width: 36px;
    
        background: var(--primary-color); 
        border-radius: 2px;
        animation: fadeInOut 5s infinite ease-in-out;
    }
}
