@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #211951;
    --cor-secundaria: #15F5BA;
    --cor-terciaria: #F0F3FF;
    --cor-hover: #1a1346;
    --cor-hover-icon: #d9dbec;

    --cor-leitura: #555555;

    --rgb: #ff4545, #00ff99, #006aff, #ff0095, #ff4545;
    --rgb: #e3342f, #f6993f, #ffed4a, #38c172, #4dc0b5, #3490dc, #6574cd, #9561e2, #f66d9b;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;

    --angle: 0deg;

}


html, body {
    background-color: var(--cor-primaria);
}




.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2% 0% 0% 12%;
}

.header__nav {
    display: flex;
    gap: 32px;
}

.header__nav__item {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;

    color: var(--cor-secundaria);

    text-decoration: none;
}

.footer {
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
    padding: 16px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 500;

    margin-top: auto;

    width: 100%;
}










.gallery__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 6% 12%
}

.gallery__container__projects {
    width: 100%;

    display: grid;
 
    grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
    gap: 84px;
}



@media (max-width: 1120px) {
    .gallery__container__projects {
        grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    }

    .gallery__container {
        padding: 6% 6%;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;

        padding: 6% 0 12% 6%;
    }
}


@media (max-width: 768px) {
    .gallery__container__projects {
        grid-template-columns: repeat(auto-fit, 1fr);
    }

    .gallery__container {
        padding: 6% 6%;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;

        padding: 6% 0 12% 6%;
    }
}

@media (max-width: 512px) {
    .gallery__container__projects {
        grid-template-columns: repeat(auto-fit, 100%);
    }

    .gallery__container {
        padding: 0 6% 12% 6%;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: start;

        padding: 6% 0 12% 6%;
    }

    .header__nav {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .footer {
        padding: 8%;
        font-size: 0.8rem;
    }
}





.gallery__container__projects__container {
    position: relative; 

    display: flex;
    align-items: center;
    justify-content: center;
}


.gallery__container__projects__container__top__right__border {
    position: absolute;

    width: 100%;
    height: 100%;
    
    border: 2.5px solid var(--cor-secundaria);
    border-top-right-radius: 12px;

    margin-left: 7.5%;
    margin-top: -7.5%;

    z-index: 0;

    border-image-slice: 1;
    border-image-source: conic-gradient(from var(--angle), transparent 50%, #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    border-image-source: conic-gradient(from var(--angle), transparent 50%, var(--cor-secundaria));
    animation: spin 3s linear infinite;
}


.gallery__container__projects__container__bottom__left__border {
    position: absolute;

    width: 100%;
    height: 100%;
    

    border: 2.5px solid var(--cor-secundaria);
    border-bottom-left-radius: 12px;

    margin-left: -7.5%;
    margin-top: 7.5%;

    z-index: 0;

    border-image-slice: 1;
  
    animation: spin 3s linear infinite;
    border-image-source: conic-gradient(from var(--angle), transparent 50%, var(--cor-secundaria));
}



@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}


@keyframes spin{
    from{
      --angle: 0deg;
    }
    to{
      --angle: 360deg;
    }
}


.gallery__container__projects__card__colored__div {
    display: flex;

    margin-top: -3.5px;
    height: 16px;
    width: 100%;
}


.gallery__container__projects__card__info {
    display: flex;

    justify-content: space-between;

    padding-top: 12px;
    padding-bottom: 10px;

    position: relative;
}


.gallery__container__projects__card__info__language {
    display: flex;
    align-items: center;
    
    padding-left: 10px;

    position: absolute;
    top: 0;
}


.gallery__container__projects__card__info__language__span {
    font-family: var(--fonte-secundaria);

    font-size: 12px;

    padding-left: 6px;
    color: black;
}


.gallery__container__projects__card__info__stats {
    display: flex;
    align-items: center;

    position: absolute;
    bottom: 0;
    right: 0;
}


.gallery__container__projects__card__info__stats__item {
    display: flex;
    align-items: center;

    padding: 2px 10px ;
}

.colored-dot {
    height: 16px;
    width: 16px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}


.item--star {
    background-color: #e3b341;
}

.item--eye {
    background-color: #ca7bff;
}

.item--fork {
    background-color: #85847d;
}



.gallery__container__projects__card__info__stats__item__icon {
    width: 16px;
    height: 16px;
}




.gallery__container__projects__card__info__stats__item__span {
    font-family: var(--fonte-secundaria);

    font-size: 12px;
    color: black;

    padding-left: 8px;
}









/* GitHub Projects Card Styles */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    background-color: var(--cor-terciaria);

    border: 2.5px solid var(--cor-terciaria);
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    
    overflow: hidden;
    word-break: normal;

    transition: transform 0.3s ease;

    z-index: 1;
} 

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card__title__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__title__container__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 100%;

    padding: 12px;
    
    text-decoration: none;
}

.card__title__container__info span {
    padding-left: 6px;

    font-size: 1rem;
    color: #333;

    font-family: var(--fonte-principal);
    font-weight: 600;
}

.card__title__container__info img {
    width: 16px;
    height: 16px;
}

.card__title__container__info:hover {
    cursor: pointer;
    background-color: var(--cor-hover-icon);
}

.card__title__container__homepage {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}

.card__title__container__homepage img {
    width: 24px;
    height: 24px;

    animation: rotate 0.5s ease-in-out infinite alternate;
}

@keyframes rotate {
    0% {
        transform: rotate(-2.5deg);
    }
    100% {
        transform: rotate(2.5deg);
    }
}


.card__title__container__homepage:hover {
    cursor: pointer;
    background-color: var(--cor-hover-icon);
}

.card__description {
    font-family: var(--fonte-secundaria);
    font-size: 0.8rem;
    font-weight: 400;

    padding: 4px 0 36px 12px;

    color: var(--cor-leitura);

    width: 92.5%;
    line-height: 16px;
}










/* Other Styles */
.no-copy {
    user-select: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
}

